		<nav id="sidebar" class="sidebar">
			<div class="sidebar-content ">
				<a class="sidebar-brand" href="index.html">
          <i class="align-middle" data-feather="box"></i>
          <span class="align-middle">AppStack</span>
        </a>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						What you can do
					</li>
					<li class="sidebar-item">
						<%= link_to root_path, class:"sidebar-link" do %>
							STARRED FAVORITE <i class="sidebar-badge fillerup" data-feather="star"></i>
						<% end %>
					</li>		
					<li class="sidebar-item">
						<a href="#dashboards" data-toggle="collapse" class="sidebar-link collapsed">
              <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboards</span>
              <span class="sidebar-badge badge badge-primary">5</span>
            </a>
						<ul id="dashboards" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="dashboard-default.html">Default</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="dashboard-analytics.html">Analytics</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="dashboard-e-commerce.html">E-commerce</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="dashboard-social.html">Social</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="dashboard-crypto.html">Crypto</a></li>
						</ul>
					</li>
					<li class="sidebar-item active">
						<a href="#pages" data-toggle="collapse" class="sidebar-link">
              <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Pages</span>
            </a>
						<ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-parent="#sidebar">
							<li class="sidebar-item"><%= link_to 'Profile', pages_profile_path, class:"sidebar-link" %></li>
							<li class="sidebar-item"><%= link_to 'Settings', pages_settings_path, class:"sidebar-link" %></li>
							<li class="sidebar-item"><%= link_to 'Clients', pages_clients_path, class:"sidebar-link" %></li>
							<li class="sidebar-item">
								<a href="#projects" data-toggle="collapse" class="sidebar-link collapsed">
                  Projects
                </a>
								<ul id="projects" class="sidebar-dropdown list-unstyled collapse">
									<li class="sidebar-item">
										<%= link_to 'List', pages_projects_list_path, class:"sidebar-link" %>
									</li>
									<li class="sidebar-item">
										<%= link_to pages_projects_details_path, class:"sidebar-link" do %>Details <span class="sidebar-badge badge badge-primary">New</span><% end %>
									</li>
								</ul>
							</li>
							<li class="sidebar-item"><%= link_to 'Invoice', pages_invoice_path, class:"sidebar-link" %></li>
							<li class="sidebar-item"><%= link_to 'Pricing', pages_pricing_path, class:"sidebar-link" %></li>
							<li class="sidebar-item"><%= link_to 'Tasks', pages_tasks_path, class:"sidebar-link" %></li>
							<li class="sidebar-item"><%= link_to pages_chat_path, class:"sidebar-link" do %>Chat <span class="sidebar-badge badge badge-primary">New</span><% end %></li>
							<li class="sidebar-item"><%= link_to 'Blank', pages_blank_path, class:"sidebar-link" %></li>
						</ul>
					</li>
					<li class="sidebar-item">
						<a href="#auth" data-toggle="collapse" class="sidebar-link collapsed">
              <i class="align-middle" data-feather="users"></i> <span class="align-middle">Auth</span>
              <span class="sidebar-badge badge badge-secondary">Special</span>
            </a>
						<ul id="auth" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
							<li class="sidebar-item"><%= link_to 'Sign in', auth_signin_path, class:"sidebar-link" %></li>
							<li class="sidebar-item"><%= link_to 'Sign up', auth_signup_path, class:"sidebar-link" %></li>
							<li class="sidebar-item"><%= link_to 'Reset password', auth_reset_password_path, class:"sidebar-link" %></li>
							<li class="sidebar-item"><%= link_to '404 page', auth_404_path, class:"sidebar-link" %></li>
							<li class="sidebar-item"><%= link_to '500 page', auth_500_path, class:"sidebar-link" %></li>
						</ul>
					</li>
					<li class="sidebar-item">
						<a href="#layouts" data-toggle="collapse" class="sidebar-link collapsed">
              <i class="align-middle" data-feather="monitor"></i> <span class="align-middle">Layouts</span>
            </a>
						<ul id="layouts" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="#">Sticky Sidebar</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="#">Collapsed Sidebar</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="#">Boxed Layout</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="#">Classic Theme</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="#">Corporate Theme <span class="sidebar-badge badge badge-primary">New</span></a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="#">Modern Theme <span class="sidebar-badge badge badge-primary">New</span></a></li>
						</ul>
					</li>
					<li class="sidebar-item">
						<a href="#documentation" data-toggle="collapse" class="sidebar-link collapsed">
              <i class="align-middle" data-feather="book-open"></i> <span class="align-middle">Documentation</span>
            </a>
						<ul id="documentation" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="#">Introduction</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="#">Getting Started</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="#">Plugins</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="#">Changelog</a></li>
						</ul>
					</li>

					<li class="sidebar-header">
						Tools & Components
					</li>
					<li class="sidebar-item">
						<a href="#ui" data-toggle="collapse" class="sidebar-link collapsed">
              <i class="align-middle" data-feather="grid"></i> <span class="align-middle">UI Elements</span>
            </a>
						<ul id="ui" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
							<li class="sidebar-item"><%= link_to 'Alerts', ui_alerts_path, class:"sidebar-link" %></li>
							<li class="sidebar-item"><%= link_to 'Buttons', ui_buttons_path, class:"sidebar-link" %></li>
							<li class="sidebar-item"><%= link_to 'Cards', ui_cards_path, class:"sidebar-link" %></li>
							<li class="sidebar-item"><%= link_to 'Carousel', ui_carousel_path, class:"sidebar-link" %></li>
							<li class="sidebar-item"><%= link_to 'Embed Video', ui_embed_video_path, class:"sidebar-link" %></li>
							<li class="sidebar-item"><%= link_to ui_general_path, class:"sidebar-link" do %>General <span class="sidebar-badge badge badge-info">10+</span><% end %></li>
							<li class="sidebar-item"><%= link_to 'Grid', ui_grid_path, class:"sidebar-link" %></li>
							<li class="sidebar-item"><%= link_to 'Modals', ui_modals_path, class:"sidebar-link" %></li>
							<li class="sidebar-item"><%= link_to 'Tabs', ui_tabs_path, class:"sidebar-link" %></li>
							<li class="sidebar-item"><%= link_to 'Typography', ui_typography_path, class:"sidebar-link" %></li>
						</ul>
					</li>
					<li class="sidebar-item">
						<a href="#icons" data-toggle="collapse" class="sidebar-link collapsed">
              <i class="align-middle" data-feather="heart"></i> <span class="align-middle">Icons</span>
              <span class="sidebar-badge badge badge-info">1500+</span>
            </a>
						<ul id="icons" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
							<li class="sidebar-item"><%= link_to 'Feather', icons_feather_path, class:"sidebar-link" %></li>
							<li class="sidebar-item"><%= link_to 'Font Awesome', icons_fontawesome_path, class:"sidebar-link" %></li>
						</ul>
					</li>
					<li class="sidebar-item">
						<a href="#forms" data-toggle="collapse" class="sidebar-link collapsed">
              <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Forms</span>
            </a>
						<ul id="forms" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
							<li class="sidebar-item"><%= link_to 'Layouts', forms_layouts_path, class:"sidebar-link" %></li>
							<li class="sidebar-item"><%= link_to 'Basic Inputs', forms_basic_inputs_path, class:"sidebar-link" %></li>
							<li class="sidebar-item"><%= link_to 'Input Groups', forms_input_groups_path, class:"sidebar-link" %></li>
						</ul>
					</li>
					<li class="sidebar-item">
						<%= link_to tables_bootstrap_path, class:"sidebar-link" do %>
              <i class="align-middle" data-feather="list"></i> <span class="align-middle">Tables</span>
            <% end %>
					</li>

					<li class="sidebar-header">
						Plugins & Addons
					</li>
					<li class="sidebar-item">
						<a href="#form-plugins" data-toggle="collapse" class="sidebar-link collapsed">
              <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Form Plugins</span>
            </a>
						<ul id="form-plugins" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
							<li class="sidebar-item"><%= link_to 'Advanced Inputs', form_plugins_advanced_inputs_path, class:"sidebar-link" %></li>
							<li class="sidebar-item"><%= link_to 'Editors', form_plugins_editors_path, class:"sidebar-link" %></li>
							<li class="sidebar-item"><%= link_to 'Validation', form_plugins_validation_path, class:"sidebar-link" %></li>
							<li class="sidebar-item"><%= link_to 'Wizard', form_plugins_wizard_path, class:"sidebar-link" %></li>
						</ul>
					</li>
					<li class="sidebar-item">
						<a href="#datatables" data-toggle="collapse" class="sidebar-link collapsed">
              <i class="align-middle" data-feather="list"></i> <span class="align-middle">DataTables</span>
            </a>
						<ul id="datatables" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="tables-datatables-responsive.html">Responsive Table</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="tables-datatables-buttons.html">Table with Buttons</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="tables-datatables-column-search.html">Column Search</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="tables-datatables-multi.html">Multi Selection</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="tables-datatables-ajax.html">Ajax Sourced Data</a></li>
						</ul>
					</li>

					<li class="sidebar-item">
						<a href="#charts" data-toggle="collapse" class="sidebar-link collapsed">
              <i class="align-middle" data-feather="pie-chart"></i> <span class="align-middle">Charts</span>
              <span class="sidebar-badge badge badge-primary">New</span>
            </a>
						<ul id="charts" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
							<li class="sidebar-item"><%= link_to "Chart.js", charts_chartjs_path, class:"sidebar-link" %></li>
							<li class="sidebar-item"><a class="sidebar-link" href="charts-apexcharts.html">ApexCharts <span class="sidebar-badge badge badge-primary">New</span></a></li>
						</ul>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="notifications.html">
              <i class="align-middle" data-feather="bell"></i> <span class="align-middle">Notifications</span>
            </a>
					</li>
					<li class="sidebar-item">
						<a href="#maps" data-toggle="collapse" class="sidebar-link collapsed">
              <i class="align-middle" data-feather="map-pin"></i> <span class="align-middle">Maps</span>
            </a>
						<ul id="maps" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="maps-google.html">Google Maps</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="maps-vector.html">Vector Maps</a></li>
						</ul>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="calendar.html">
              <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Calendar</span>
            </a>
					</li>
					<li class="sidebar-item">
						<a href="#multi" data-toggle="collapse" class="sidebar-link collapsed">
              <i class="align-middle" data-feather="share-2"></i> <span class="align-middle">Multi Level</span>
            </a>
						<ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-parent="#sidebar">
							<li class="sidebar-item">
								<a href="#multi-2" data-toggle="collapse" class="sidebar-link collapsed">
                  Two Levels
                </a>
								<ul id="multi-2" class="sidebar-dropdown list-unstyled collapse">
									<li class="sidebar-item">
										<a class="sidebar-link" href="#">Item 1</a>
										<a class="sidebar-link" href="#">Item 2</a>
									</li>
								</ul>
							</li>
							<li class="sidebar-item">
								<a href="#multi-3" data-toggle="collapse" class="sidebar-link collapsed">
                  Three Levels
                </a>
								<ul id="multi-3" class="sidebar-dropdown list-unstyled collapse">
									<li class="sidebar-item">
										<a href="#multi-3-1" data-toggle="collapse" class="sidebar-link collapsed">
                      Item 1
                    </a>
										<ul id="multi-3-1" class="sidebar-dropdown list-unstyled collapse">
											<li class="sidebar-item">
												<a class="sidebar-link" href="#">Item 1</a>
												<a class="sidebar-link" href="#">Item 2</a>
											</li>
										</ul>
									</li>
									<li class="sidebar-item">
										<a class="sidebar-link" href="#">Item 2</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>

				<div class="sidebar-bottom d-none d-lg-block">
					<div class="media">
						<%= image_tag "avatars/Q_avatar.png", class:"rounded-circle mr-3", alt:"John Q", width:"40", height:"40" %>
						<div class="media-body">
							<h5 class="mb-1">John Q</h5>
							<div>
								<i class="fas fa-circle text-success"></i> Online
							</div>
						</div>
					</div>
				</div>

			</div>
		</nav>
